@import "reset.css";
@charset "utf-8";

/* style.css - 기본 스타일 문서, 2012 © yamoo9.com
---------------------------------------------------------------- */
/* ///////////////////////////////////////// 
	=기본 스타일
///////////////////////////////////////// */
html {
  overflow-y: scroll;
}
body {

  
  background: #77807f url(./images/wood_bg.jpg) center top;
  color: #181717;
}
a:link, a:visited {
  color: #fff;
}
/* ///////////////////////////////////////// 
	=#page-wrap
///////////////////////////////////////// */
#page-wrap {
  width: 740px;
  margin: 100px auto;
}
h1 {
  margin-bottom: 1.5em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px #111;
}
h1 span {
  display: block;
  margin-top: 6px;
  letter-spacing: 7px;
  font: 14px Verdana;
}
h2 {
  margin-bottom: 1.5em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px #111;
}
h2 span {
  display: block;
  margin-top: 6px;
  letter-spacing: 7px;
  font: 14px Verdana;
}

/* ///////////////////////////////////////// 
	=.no-js
///////////////////////////////////////// */	
.no-js #tab_design {
    overflow: hidden;
    padding: 2em;
    background: #fff;
    color: #333;
}
.no-js #tab_design li {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.no-js #tab_design a {
    color: #333;
}
.no-js #tab_design img {
    vertical-align: bottom;
}

/* ///////////////////////////////////////// 
	=.Global Classes
///////////////////////////////////////// */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.ie6 .clearfix {
  height: 1px;
}
.ie7 .clearfix {
  min-height: 1px;
}
.blind {
  visibility: hidden;
  position: absolute;
  top: -10000px;
  height: 1px;
  width: 1px;
}
